@media (max-width: 480px) {
    .busketContainer {
        position: fixed;
        width: 100%;
        bottom: 0;
        min-height: 10%;
        height: auto;
        border-radius: 40px 40px 0 0;
        background-color: #282c34;
        display: flex;
        flex-direction: column;
        overflow: hidden;
    }

    #lineDiv {
        width: 20px;
        height: 4px;
        background-color: white;
        position: relative;
        left: calc(100vw / 2 - 10px);
        top: 10px;
        cursor: pointer;
        padding: 1px;
        border-radius: 20px;
    }

    .divImgBusket {
        position: relative;
        display: flex;
        flex-direction: row;
        gap: 6px;
        color: white;
        left: 35%;
        letter-spacing: 2px;
    }

    #imgBusket {
        width: 18px;
        height: 18px;
        position: relative;
        top: 11px;
    }
    .divImgBusket p{
        font-size: 0.8rem ;
    }
    .cartInfoInBusket {
        background-color: #282c34;
        box-sizing: border-box;
        overflow-y: auto;
        overflow-x: hidden;
        flex-grow: 1;
        display: flex;
        flex-direction: column;
        position: relative;
        top: -10px;
        max-height: 39vh;
        gap: 13px;
    }

    .divInfoC {
        display: flex;
        flex-direction: row;
        width: 100%;
        height: 8vh;
        padding: 3px 3px 5px 3px;
    }

    .imgBeerCart {
        width: 14%;
        height: auto;
        border-radius: 10px;
        margin-top: 3px;
        padding-top: 2px;
        position: relative;
        left: 6%;
        top: -2px;
    }

    .nameBeerh3Cart {
        padding: 3px;
        width: 40%;
        position: relative;
        left: -6px;
        top: -2px;
        color: white;
        letter-spacing: 1px;
        font-size: 0.7rem;
    }

    .priceBeerDivCart {
        width: 6%;
        height: 13px;
        color: black;
        background-color: orange;
        text-align: center;
        border-radius: 5px;
        position: relative;
        left: -38%;
        top: -2px;
        padding-top: 2px;
    }

    .priceBeerPCart {
        position: relative;
        top: -5px;
        left: -1px;
        padding: 2px;
        margin: 2px;
        align-items: center;
        font-size: 9px;
    }

    .containerBtnAddSub {
        display: flex;
        flex-direction: row;
        gap: 5px;
        position: relative;
        left: -10px;
        top: 10px;
    }

    .btnImgSubCount {
        width: 30px;
        height: 20px;
        background-color: #282c34;
        border-radius: 6px 0 0 6px;
    }

    #imgSubBeer {
        width: 15px;
        height: 10px;
        position: relative;
        left: -1px;
        top: 0;
    }
    #pCountBeer {
        color: white;
        width: 20px;
        position: relative;
        top: -18px;
    }
    .btnImgAddCount {
        width: 30px;
        height: 20px;
        background-color: orange;
        border-radius: 0 6px 6px 0;
    }

    .imgAddBeerInBusket {
        width: 23px;
        height: 18px;
        position: relative;
        left: -4px;
        top: -2px;
    }
    .btnDeleteProduct {
        width: 30px;
        height: 30px;
        background-color: #282c34;
        border: none;
       position: relative;
        left: 18px;
        top: -1px;
    }
    #imgDeleteProduct {
        width: 23px;
        height: 18px;
        position: relative;
        left: -8px;
        top: -3px;
    }

}

@media (min-width: 480px) && @media (max-width: 1440px) {
    .busketContainer {
        position: fixed;
        width: 100%;
        bottom: 0;
        min-height: 5%;
        height: auto;
        border-radius: 50px 50px 0 0;
        background-color: #282c34;
        display: flex;
        flex-direction: column;
        overflow: hidden;
    }

    #lineDiv {
        width: 30px;
        height: 4px;
        background-color: white;
        position: relative;
        left: calc(100vw / 2 - 10px);
        top: 20px;
        cursor: pointer;
        padding: 1px;
        border-radius: 20px;
    }

    .divImgBusket {
        position: relative;
        display: flex;
        flex-direction: row;
        gap: 6px;
        color: white;
        left: 380px;
        letter-spacing: 2px;
    }

    #imgBusket {
        width: 19%;
        height: 19%;
        position: relative;
        top: 40px;
        left: 69px;
    }
    .divImgBusket p{
        font-size: 1.5rem ;
        position: relative;
        top: 28px;
        left: -20px;
        letter-spacing: 3px;
    }
    .cartInfoInBusket {
        background-color: #282c34;
        box-sizing: border-box;
        overflow-y: auto;
        overflow-x: hidden;
        flex-grow: 1;
        display: flex;
        flex-direction: column;
        position: relative;
        min-height: 290px;
        gap: 15px;
        top: -130px;
    }

    .divInfoC {
        display: flex;
        flex-direction: row;
        width: 100%;
        height: 100%;
        padding: 3px 3px 5px 3px;
    }

    .imgBeerCart {
        width: 10%;
        height: 100%;
        border-radius: 10px;
        margin-top: 3px;
        padding-top: 2px;
        position: relative;
        left: 6%;
    }

    .nameBeerh3Cart {
        padding: 3px;
        width: 40%;
        position: relative;
        left: -6px;
        top: -2px;
        color: white;
        letter-spacing: 1px;
        font-size: 1rem;
    }

    .priceBeerDivCart {
        width: 5%;
        height: 20px;
        color: black;
        background-color: orange;
        text-align: center;
        border-radius: 5px;
        position: relative;
        left: -38%;
        top: -2px;
        padding-top: 2px;
    }

    .priceBeerPCart {
        position: relative;
        top: -5px;
        left: -1px;
        padding: 2px;
        margin: 2px;
        align-items: center;
        font-size: 0.9rem;
    }

    .containerBtnAddSub {
        display: flex;
        flex-direction: row;
        gap: 25px;
        position: relative;
        left: 60px;
        top: 10px;
    }

    .btnImgSubCount {
        width: 69%;
        height: 30%;
        background-color: #282c34;
        border-radius: 13px 0 0 13px;
    }

    #imgSubBeer {
        width: 25px;
        height: 20px;
        position: relative;
        left: 0;
        top: 0;
    }
    #pCountBeer {
        color: white;
        width: 90px;
        font-size: 1.5rem;
        position: relative;
        top: -21px;
    }
    .btnImgAddCount {
        width: 69%;
        height: 30%;
        background-color: orange;
        border-radius: 0 13px 13px 0;
    }

    .imgAddBeerInBusket {
        width: 43px;
        height: 35px;
        position: relative;
        left: -4px;
        top: -2px;
    }
    .btnDeleteProduct {
        width: 35%;
        height: 35%;
        background-color: #282c34;
        border: none;
        position: relative;
        left: 98px;
        top: -2px;
    }
    #imgDeleteProduct {
        width: 100%;
        height: 100%;
        position: relative;
        left: -8px;
        top: -3px;
    }

}
